<div class="jumbotron">
      <div class="container">
        <h1>Hello, {{ user.name }}</h1>
        <p>Your email is {{ user.email }}</p>

        {{#if user.isAdmin}}
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Admin login</a></p>
        {{/if}}

        {{!--if shows only if isAdmin is truthy. unless shows when it is false--}}

        {{#unless user.isAdmin}}
        <p><a class="btn btn-primary btn-lg" href="#" role="button">User login</a></p>
        {{/unless}}

    </div>
</div>

<div class="container">
  {{> blogform }}

  <ul>
    {{#each blogs as |blog|}}
    <li>
      <h3> {{blog.title}} <h3>
      <p> {{blog.content}} </p>
    </li>
    {{/each}}
  </ul>
</div>
